%ul
  %li{ 'ng-repeat' => 'category in categories track by category.id' }
    %a{ 'ng-href' => '/categories/{{ ::category.id }}', 'ng-bind' => "category.title + ' (' + category.projects_count + ')'", 'ng-class' => "{ active: category.id == activeCategoryId }" }
