.container
  .row
    .col-10
      .search{ 'ng-controller' => 'searchController' }
        %form{ 'ng-submit' => 'setQuery(query)' }
          %button{ :type => 'submit' }
            %i.fa.fa-search
          %input{ :type => 'text', :placeholder => 'Search', 'ng-model' => 'query', 'ng-change' => 'setQuery(query)' }
    .col-2
      %a.btn.block{ 'ng-href' => '/projects/suggest' }
        Submit a Project
