.container
  .row
    %a{ 'ng-href' => '/' }
      %i.fa.fa-diamond
      Gemfile.io
    %span.pull-right
      %a{ 'ng-href' => '/api/docs', :target => '_blank' }
        %i.fa.fa-cog
        API
      %a{ 'ng-href' => 'https://github.com/droptheplot/gemfileio' }
        %i.fa.fa-code-fork
        Contribute
      %a{ 'ng-href' => '/projects/new', 'ng-show' => 'isAuthenticated() && currentUser.admin' }
        %i.fa.fa-plus
        New project
      %a{ 'ng-href' => '/?active=false', 'ng-show' => 'isAuthenticated() && currentUser.admin' }
        %i.fa.fa-exclamation-circle
        Inactive Projects
      %a{ 'ng-click' => "authenticate('github')", 'ng-show' => '!isAuthenticated()' }
        %i.fa.fa-github
        Sign in with Github
      %a{ 'ng-click' => 'logout()', 'ng-show' => 'isAuthenticated()' }
        %i.fa.fa-remove
        Sign out
