%h3.title
  Projects count
.statistics{ 'ng-controller' => 'statisticsController', 'ng-show' => 'statistics.labels.length > 0' }
  %canvas#line.chart.chart-line{ 'chart-data' => 'statistics.data', 'chart-labels' => 'statistics.labels', 'chart-series' => 'statistics.series', 'chart-options' => 'statistics.options', 'chart-colours' => 'statistics.colours' }
