.title
  %i.fa.fa-arrow-down{ 'ng-hide' => 'project.activity', :title => 'No activity in the last month.' }
  %span{ 'ng-bind' => '::project.name', 'ng-click' => 'openProject(project.id)' }
.description{ 'ng-bind' => '::project.description', 'ng-show' => '::project.description' }
.info
  .row
    %span
      %i.fa.fa-star-o
      {{ ::project.stars_count | number  }}
    %span
      %i.fa.fa-code-fork
      {{ ::project.forks_count | number  }}
    %span
      %i.fa.fa-download
      {{ ::project.downloads_count | number }}
    %span
      %i.fa.fa-comment-o
      {{ ::project.comments_count | number }}
    %a{ 'ng-href' => '{{ ::project.url }}', 'ng-if' => '::project.url', :target => '_blank' }
      %i.fa.fa-github
      {{ ::project.ref }}
    %a{ 'ng-href' => '/projects/{{ ::project.id }}/edit', 'ng-show' => 'currentUser.admin', :target => '_blank' }
      %i.fa.fa-pencil
