%h1.title
  Project
%form{ 'ng-submit' => 'submitProject(project)' }
  .form-group
    %label
      Name
    %input.form-control{ 'ng-model' => 'project.name', :placeholder => 'e.g. rails' }
  .form-group
    %label
      Github Url
    %input.form-control{ 'ng-model' => 'project.url', :placeholder => 'e.g. https:/github.com/rails/rails', :required => true }
  .form-group
    %label
      Category
    %select.form-control{ 'ng-model' => 'project.category_id' }
      %option{ 'ng-repeat' => 'category in categories track by category.id', 'ng-value' => 'category.id', 'ng-selected' => 'project.category_id == category.id', 'ng-bind' => 'category.title' }
  .form-group
    %label
      %input{ :type => :checkbox, 'ng-model' => 'project.active' }
      Active
  .form-group
    %button.btn{ :type => :submit }
      Submit
