.project{ 'ng-repeat' => 'project in projects track by project.id' }
  .title{ 'ng-bind' => '::project.name' }
  .info
    .row
      %span
        %i.fa.fa-star-o
        {{ ::project.stars_count }}
      %span
        %i.fa.fa-code-fork
        {{ ::project.forks_count }}
      %span
        %i.fa.fa-eye
        {{ ::project.views_count }}
      %a{ 'ng-href' => '::project.url', 'ng-if' => '::project.url' }
        %i.fa.fa-github
        {{ ::project.ref }}
.pagination
  .btn.clear{ 'ng-click' => 'loadProjects()' }
    More Projects
