%h1{ 'ng-bind' => 'category.title', 'ng-show' => 'category' }
.project{ 'ng-repeat' => 'project in projects track by project.id' }
  .title{ 'ng-bind' => '::project.name' }
  .description{ 'ng-bind' => '::project.description', 'ng-show' => '::project.description' }
  .info
    .row
      %span
        %i.fa.fa-star-o
        {{ ::project.stars_count | number  }}
      %span
        %i.fa.fa-code-fork
        {{ ::project.forks_count | number  }}
      %span
        %i.fa.fa-download
        {{ ::project.downloads_count | number }}
      %a{ 'ng-href' => '{{ ::project.url }}', 'ng-if' => '::project.url', :target => '_blank' }
        %i.fa.fa-github
        {{ ::project.ref }}
.pagination
  .btn.clear{ 'ng-click' => 'loadProjects()' }
    More Projects
