.project{ 'ng-include' => "'#{ asset_path('templates/projects/_project.html') }'" }
.favorites{ 'ng-hide' => '!isAuthenticated() && project.users.length === 0'  }
  %a.toggle{ 'ng-click' => 'toggleFavorite()' }
    %i.fa{ 'ng-class' => "project.favorited_by_current_user ? 'fa-heart' : 'fa-heart-o'" }
  %span.user{ 'ng-repeat' => 'user in project.users track by user.id', 'ng-bind' => '::user.name' }
.comment{ 'ng-repeat' => 'comment in project.comments track by comment.id' }
  .user
    %a{ 'ng-href' => 'https://github.com/{{ comment.user.name }}', 'ng-bind' => 'comment.user.name' }
  .created_at{ 'am-time-ago' => 'comment.created_at' }
  .body{ 'ng-bind' => 'comment.body' }
%form{ 'ng-submit' => 'submitComment(body)', 'ng-show' => 'isAuthenticated()' }
  .form-group
    %textarea.form-control{ :type => :text, :required => true, 'ng-model' => 'body', :placeholder => 'Leave a comment' }
  .form-group
    %button.btn{ :type => :submit }
      Submit
%span{ 'ng-show' => '!isAuthenticated()' }
  %a{ 'ng-click' => "authenticate('github')" }
    %i.fa.fa-github
    You must be signed in to add a comment.
