.project{ 'ng-include' => "'#{ asset_path('templates/projects/_project.html') }'" }
.favorites
  .btn.clear{ 'ng-click' => 'toggleFavorite()', 'ng-show' => 'isAuthenticated()' }
    %i.fa.fa-heart
%h2.title
  Comments
.comment{ 'ng-repeat' => 'comment in comments track by comment.id' }
  .user{ 'ng-bind' => 'comment.user.name' }
  .created_at{ 'am-time-ago' => 'comment.created_at' }
  .body{ 'ng-bind' => 'comment.body' }
%form{ 'ng-submit' => 'submitComment(body)', 'ng-show' => 'isAuthenticated()' }
  .form-group
    %textarea.form-control{ :type => :text, :required => true, 'ng-model' => 'body' }
  .form-group
    %button.btn{ :type => :submit }
      Submit
%span{ 'ng-show' => '!isAuthenticated()' }
  %a{ 'ng-click' => "authenticate('github')" }
    %i.fa.fa-github
    You must be signed in to add a comment.
