%h1.title
  Suggest a Project
%form{ 'ng-submit' => 'submitProject(project)' }
  .form-group
    %label
      Name
    %input.form-control{ 'ng-model' => 'project.name', :placeholder => 'e.g. rails', :required => true }
  .form-group
    %label
      Github URL
    %input.form-control{ 'ng-model' => 'project.url', :placeholder => 'e.g. https:/github.com/rails/rails', :required => true }
  .form-group
    %label
      Category
    %span.select-wrapper
      %select.form-control{ 'ng-model' => 'project.category_id' }
        %option{ 'ng-repeat' => 'category in categories track by category.id', 'ng-value' => 'category.id', 'ng-selected' => 'project.category_id == category.id', 'ng-bind' => 'category.title' }
  .form-group
    %button.btn{ :type => :submit }
      Submit
