!!!
%html{ 'ng-app' => 'gemfileio' }
  %head
    %title Gemfile.io
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{ :href => 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', :rel => 'stylesheet' }/
    %base{ :href => '/' }
  %body{ 'ng-controller' => 'applicationController' }
    %nav
      .container
        %a{ 'ng-click' => "authenticate('github')", 'ng-show' => '!isAuthenticated()' }
          %i.fa.fa-github
          Sign in with Github
        %a{ 'ng-click' => 'logout()', 'ng-show' => 'isAuthenticated()' }
          %i.fa.fa-remove
          Sign out
    %header
      .container
        .row
          .col-2
            .logo
              %a{ 'ng-href' => '/' }
                %img{ 'ng-src' => "#{ asset_path('logo.png') }" }
          .col-8
            .search{ 'ng-controller' => 'searchController' }
              %form{ 'ng-submit' => 'setQuery(query)' }
                %button{ :type => 'submit' }
                  %i.fa.fa-search
                %input{ :type => 'text', :placeholder => 'Search', 'ng-model' => 'query', 'ng-change' => 'setQuery(query)' }
          .col-2
            %a.btn.block{ 'ng-href' => '/projects/new' }
              Submit a Project
    .container
      .row
        .col-2
          %aside{ 'ng-controller' => 'categoriesController' }
            %ul
              %li{ 'ng-repeat' => 'category in categories track by category.id' }
                %a{ 'ng-href' => '/categories/{{ ::category.id }}', 'ng-bind' => "category.title + ' (' + category.projects_count + ')'", 'ng-class' => "{ active: category.id == activeCategoryId }" }
        .col-10
          %main{ 'ng-view' => '' }
    .notifications{ 'ng-show' => 'notifications.list.length > 0' }
      .container
        .notification{ 'ng-repeat' => 'notification in notifications.list track by $index', 'ng-bind' => 'notification' }
