!!!
%html{ 'ng-app' => 'gemfileio' }
  %head
    %title Gemfile.io
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{ :href => 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', :rel => 'stylesheet' }/
    %base{ :href => '/' }
  %body{ 'ng-controller' => 'applicationController' }
    %header
      .container
        .row
          .col-2
            .logo
              %a{ 'ng-href' => '/' }
                Gemfile.io
          .col-2
            .btn.block
              Submit Project
          .col-8
            .search
              %form
                %input{ :type => 'text', :placeholder => 'Search' }
                %button{ :type => 'submit' }
                  %i.fa.fa-search
    .container
      .row
        .col-2
          %aside{ 'ng-controller' => 'categoriesController' }
            %ul
              %li{ 'ng-repeat' => 'category in categories track by category.id' }
                %a{ 'ng-href' => '/categories/{{ ::category.id }}', 'ng-bind' => "category.title + ' (' + category.projects_count + ')'" }
        .col-10
          %main{ 'ng-view' => '' }
